<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">
     <title>Amrita Classroom Booking</title>
<!-- <link rel="stylesheet" href="css/main.css"> -->
<link rel="stylesheet" href="/css/dash.css"> 
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

  </head>
  <body>
<script src="/js/dash.js"></script>

<div class="">
<div class="bubbles">
  <h1 >Welcome <strong> <%=tempfac.name%></strong></h1>

  <button type="button" class="log" onclick="location.href='/'">LOGOUT</button>
<div class="circle">
  <div class="ring">
    <a  class="menuItem fa fa-home fa-2x" data-toggle="tooltip" data-placement="auto" title="Home" href="/"></a>
    <a  class="menuItem fa fa-location-arrow fa-2x" data-toggle="tooltip" data-placement="auto" href="/reserve" title="Reservations"></a>
   <a  class="menuItem fa fa-circle fa-2x" data-toggle="tooltip" data-placement="auto" href="/noti" title="Notifications"></a> <!-- fa fa-certificate*\ -->
    <a  class="menuItem fa fa-headphones fa-2x" data-toggle="tooltip" data-placement="auto" href="/help" title="Help and Support"></a>
    <a  class="menuItem fa fa-question fa-2x" data-toggle="tooltip" data-placement="auto" href="/faq" title="FAQs"></a>
    <a  class="menuItem fa fa-cogs fa-2x" data-toggle="tooltip" data-placement="auto" href="/set" title="Settings"></a>
    <a class="menuItem fa fa-table fa-2x" data-toggle="tooltip" data-placement="auto" href="/time" title="TimeTable"></a>
  </div>
  <a href="#" class="center fa fa-th fa-2x"></a>
</div>
<img src="/img/prof.png" class="avatar" alt="">
<h2>DEPARTMENT : <%=tempfac.dept%> <br> <br>
PHONE : &nbsp;<%=tempfac.phone%><br> <br>
EMAIL : &nbsp;<%=tempfac.email%></h2>
</div>
</div>

<%- include("partial/footer.ejs") -%>
